<!-- A Propos code -->
<div id= "propos" class="container text-center big-padded">
  <div class="row">
    <div class="col-xs-12">
      <div class="description">
        <p>
              I’m a 25 y/o 🇫🇷 business school graduate passionate about innovation, startups and more precisely tech products. In my life, I like to travel, play sports (basket-ball) with friends & work on side projects.
        </p>
      </div>
    </div>
  </div>
</div>

  <!-- Avantages code -->

  <div class="container big-padded">
    <div class="row">

  <!-- 1st line of Mosaic section code -->
      <div class="mosaic">
        <div class="col-sm-6 col-xs-12">
          <div class="image-mosaic" style="background-image: url(<%= image_path "inspection.jpg" %>);"></div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="text-mosaic">
            <span class="title-mosaic">
              <h4>Inspection</h4>
              <ul>
                <li><p>Extérieur maison: inspection visuelle du toit, des murs extérieurs, fondations, portes et fenetres, sécurité, abords et accès.</p></li>
                <li><p>Extérieur appartement: état général de l'immeuble, entretien des parties communes, sécurité, travaux communs à prévoir.</p></li>
                <li><p>Intérieur: plomberie, électricité, chauffage, ventilation, air conditionné, fermetures, cuisine, salle de bain, humidité, déperdition thermiques.</p></li>
              </ul>
            </span>
          </div>
        </div>
      </div>
     </div>

      <!-- 2nd line of Mosaic section code for Destkop -->
      <div class="desktop">
        <div class="mosaic">
          <div class="col-sm-6 col-xs-12">
            <div class="text-mosaic">
              <span class="title-mosaic">
                <h4>Rapport</h4>
                <p>Suite à notre inspection, un rapport technique détaillé vous sera remis comprenant:</p>
                <ul>
                  <li><p>L'analyse de chaques pièces avec photos de l'ensemble des anomalies que nous avons relevés</p></li>
                  <li><p>Une liste des problèmes sans gravité mais qui nécéssiteront des réparations, ainsi que l'ensemble des problèmes urgents pour lesquels vous allez devoir entreprendre des travaux</p></li>
                  <li><p>Des recommandations techniques pour les futures réparations et travaux.</p></li>
                </ul>
              </span>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="image-mosaic" style="background-image: url(<%= image_path "livrable.jpg" %>);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Avantages code -->

  <div class="container big-padded">
    <div class="row">

  <!-- 1st line of Mosaic section code -->
      <div class="mosaic">
        <div class="col-sm-6 col-xs-12">
          <div class="image-mosaic" style="background-image: url(<%= image_path "inspection.jpg" %>);"></div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="text-mosaic">
            <span class="title-mosaic">
              <h4>Inspection</h4>
              <ul>
                <li><p>Extérieur maison: inspection visuelle du toit, des murs extérieurs, fondations, portes et fenetres, sécurité, abords et accès.</p></li>
                <li><p>Extérieur appartement: état général de l'immeuble, entretien des parties communes, sécurité, travaux communs à prévoir.</p></li>
                <li><p>Intérieur: plomberie, électricité, chauffage, ventilation, air conditionné, fermetures, cuisine, salle de bain, humidité, déperdition thermiques.</p></li>
              </ul>
            </span>
          </div>
        </div>
      </div>

      <!-- 2nd line of Mosaic section code for Destkop -->
      <div class="desktop">
        <div class="mosaic">
          <div class="col-sm-6 col-xs-12">
            <div class="text-mosaic">
              <span class="title-mosaic">
                <h4>Rapport</h4>
                <p>Suite à notre inspection, un rapport technique détaillé vous sera remis comprenant:</p>
                <ul>
                  <li><p>L'analyse de chaques pièces avec photos de l'ensemble des anomalies que nous avons relevés</p></li>
                  <li><p>Une liste des problèmes sans gravité mais qui nécéssiteront des réparations, ainsi que l'ensemble des problèmes urgents pour lesquels vous allez devoir entreprendre des travaux</p></li>
                  <li><p>Des recommandations techniques pour les futures réparations et travaux.</p></li>
                </ul>
              </span>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="image-mosaic" style="background-image: url(<%= image_path "livrable.jpg" %>);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Contact code -->

<div id= "contact" class="container big-padded">
  <div class="row">
    <div class="col-xs-12">
        <div class="contact">
          <h5>Vous avez des questions ? Nous serions ravis d'y répondre</strong></h5>
          <p><i class="fa fa-phone" aria-hidden="true"></i>Matthieu Le Lanchon : 06 95 53 91 68</p>
          <p><i class="fa fa-phone" aria-hidden="true"></i>Jean Pierre Thibeaut : 07 69 98 12 19</p>
          <p><i class="fa fa-envelope" aria-hidden="true"></i> <%= mail_to "mh2i@h2i-homeinspect.com", "mh2i@h2i-homeinspect.com", class: "email" %>
          <p> <i class="fa fa-map-marker" aria-hidden="true"></i> 3 rue de Verdun, Cannes 06400</p>
      </div>
    </div>
  </div>
</div>


