<!-- Your banner code -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "keys-door.jpg" %>);">

  <div class="banner-content">
    <h1>Home Inspection Pré-Achat & Pré-Vente</h1>
    <h3>Notre expertise au service de votre investissement</h3>
  </div>
</div>

<!-- A Propos code -->
<div id= "propos" class="container text-center big-padded">
  <div class="row">
    <div class="col-xs-12">
      <div class="title small-padded">
        <h2>À Propos</h2>
        <div class="line text-center"></div>
      </div>
      <div class="description">
        <p>
              Acheter une maison ou un appartement est l'un des <strong>actes les plus important de votre vie</strong>. Vous avez eu un coup de coeur, mais avant d'acheter, vous avez besoin d'être rassuré sur ce bien immobilier afin d'<strong>éviter les mauvaises surprises</strong>. </br> Un examen <strong>approfondis et rigoureux</strong> du bien par l'équipe H2i, <strong>professionnels du batiment</strong>, vous révelera les informations critiques sur l'état général du bien, ainsi que les points à réparer, entretenir, les dépenses à prévoir. Notre inspection est un complément important aux diagnostiques obligatoires qui vous aidera à prendre une décision ou éventuellement à négocier.
        </p>
      </div>
    </div>
  </div>
</div>

  <!-- Nos préstations code -->
  <div id= "prestations" class="container big-padded">
    <div class="row">
      <div class="col-xs-12">
        <div class="title text-center small-padded">
          <h2>Nos Prestations</h2>
          <div class="line text-center"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 1st line of Mosaic section code -->

  <div class="mosaic">
    <div class="col-sm-6 col-xs-12">
      <div class="image-mosaic" style="background-image: url(<%= image_path "inspection.jpg" %>);"></div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="text-mosaic">
        <span class="title-mosaic">
          <h4>Inspection</h4>
          <ul>
            <li><p>Extérieur maison: inspection visuelle du toit, des murs extérieurs, fondations, portes et fenetres, sécurité, abords et accès.</p></li>
            <li><p>Extérieur appartement: état général de l'immeuble, entretien des parties communes, sécurité, travaux communs à prévoir.</p></li>
            <li><p>Intérieur: plomberie, électricité, chauffage, ventilation, air conditionné, fermetures, cuisine, salle de bain, humidité, déperdition thermiques.</p></li>
          </ul>
        </span>
      </div>
    </div>
  </div>

  <!-- 2nd line of Mosaic section code for Destkop -->
  <div class="desktop">
    <div class="mosaic">
      <div class="col-sm-6 col-xs-12">
        <div class="text-mosaic">
          <span class="title-mosaic">
            <h4>Rapport</h4>
            <p>Suite à notre inspection, un rapport technique détaillé vous sera remis comprenant:</p>
            <ul>
              <li><p>L'analyse de chaques pièces avec photos de l'ensemble des anomalies que nous avons relevés</p></li>
              <li><p>Une liste des problèmes sans gravité mais qui nécéssiteront des réparations, ainsi que l'ensemble des problèmes urgents pour lesquels vous allez devoir entreprendre des travaux</p></li>
              <li><p>Des recommandations techniques pour les futures réparations et travaux.</p></li>
            </ul>
          </span>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="image-mosaic" style="background-image: url(<%= image_path "livrable.jpg" %>);"></div>
      </div>
    </div>
  </div>

  <!-- 2nd line of Mosaic section code for Mobile -->

<div class="mobile">
  <div class="mosaic">
    <div class="col-sm-6 col-xs-12">
      <div class="image-mosaic" style="background-image: url(<%= image_path "livrable.jpg" %>);"></div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="text-mosaic">
        <span class="title-mosaic">
          <h4>Rapport</h4>
          <p>Suite à notre inspection, un rapport technique complet vous sera remis comprenant:</p>
          <ul>
            <li><p>L'analyse de chaques pièces avec photos de l'ensemble des anomalies que nous avons relevés</p></li>
            <li><p>Une liste des problèmes sans gravité mais qui nécéssiteront des réparations, ainsi que l'ensemble des problèmes urgents pour lesquels vous allez devoir entreprendre des travaux</p></li>
            <li><p>Des recommandations techniques pour es futures réparations et travaux.</p></li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>

  <!-- 3rd line of Mosaic section code -->

  <div class="mosaic">
    <div class="col-sm-6 col-xs-12">
    <div class="image-mosaic" style="background-image: url(<%= image_path "accompagnement.jpg" %>);"></div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="text-mosaic">
        <span class="title-mosaic">
          <h4>Suivi</h4>
          <p>Nous pouvons également vous proposer:</p>
          <ul>
            <li><p>Estimation des travaux que vous souhaitez entreprendre </p></li>
            <li><p>Aide au choix des entreprises </p></li>
            <li><p>Coordination des travaux </p></li>
            <li><p>Suivi de chantier </p></li>
          </ul>
        </span>
      </div>
    </div>
  </div>

  <!-- Avantages code -->

  <div class="container big-padded">
    <div class="row">
      <div id="avantages" class="col-xs-12 ">
        <div class="title text-center small-padded">
          <h2>Les Avantages</h2>
          <div class="line text-center"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Avantages mosaic -->
  <div class="mosaic">
    <div class="avantages">
      <div class="col-sm-4 col-xs-12">
        <div class="section section-gauche">
          <span class="title-mosaic">
          <%= image_tag "flexibilite.png", class:"image-avantages" %>
          <h4>Flexibilité</h4>
          <p>Chez H2I, nous vous proposons des offres adaptées à chacun d'entre vous: de l'étudiant souhaitant louer son premier appartement, jusqu'à l'acheteur expérimenté cherchant à investir.</p>
          </span>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="section section-milieu">
          <span class="title-mosaic">
          <%= image_tag "transparence.png", class:"image-avantages" %>
          <h4>Transparence</h4>
          <p>Épargnez vous les mauvaises surprises. Les analyses réalisées par notre équipe lèveront tous vos doutes et vous apporteront une visibilité parfaite sur le véritable potentiel du bien qui vous intéresse.</p>
          </span>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="section section-droite">
          <span class="title-mosaic">
          <%= image_tag "confiance.png", class:"image-avantages" %>
            <h4>Confiance</h4>
            <p>Une action qui vous engage sur une vie mérite prudence. À vos côtés pendant les visites, nos experts mettront l'ensemble de leurs connaissances à votre service afin que vous puissiez choisir en toute sérénité.</p>
          </span>
        </div>
      </div>
    </div>
  </div>

    <!-- parallax -->
      <div class="parallax">
        <div class="col-xs-12 remove-padding">
          <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "parallax-2.jpg" %>);">
            <div class="parallax-content">
              <h2>Des questions ?</h2>
              <h5>Contactez-nous dès maintenant sur notre chat en ligne</h5>
            </div>
          </div>
        </div>
      </div>

   <!-- Offres code -->
  <div class="container text-center big-padded">
    <div class="row">
      <div class="col-xs-12">
        <div id="offres" class="title small-padded">
          <h2>Nos Offres</h2>
          <div class="line text-center">
          </div>
        </div>
          <div class="col-xs-12 col-md-4">
            <div class="box box-left">
            <h3>Accompagnement</h3>
            <h5>avec prestation de conseil</h5>
             <ul class='list-unstyled'>
              <li><i class="fa fa-check" aria-hidden="true"></i> Visite du bien à vos côtés</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Étude sur place de l’état de l’éléctricité, plomberie, chauffage, traitement de l'humidité et déperdition thermique</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Conseil sur les futurs travaux à prévoir</li>
            </ul>
          </div>
          <div class="box box-bottom-left">
            <div class="layer">
              <h3>À partir de 89 €</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="box box-center">
          <h3>Expertise immoblière</h3>
          <h5>avec rapport verbal</h5>
          <ul class='list-unstyled'>
            <li><i class="fa fa-check" aria-hidden="true"></i> Visite du bien à vos côtés</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Analyse technique de l’ensemble du bien: éléctricité, plomberie, chauffage, traitement de l'humidité et déperdition thermique</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Conseils sur l’ensemble des travaux à prévoir</li>
          </ul>
        </div>
        <div class="box box-bottom-center">
          <div class="layer">
            <h3>À partir de 189 €</h3>
          </div>
        </div>
      </div>
        <div class="col-xs-12 col-md-4">
          <div class="box box-right">
          <h3>Expertise immoblière</h3>
          <h5>avec rapport technique complet</h5>
          <ul class='list-unstyled'>
            <li><i class="fa fa-check" aria-hidden="true"></i> Visite du bien à vos côtés</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Analyse technique de l’ensemble du bien: éléctricité, plomberie, chauffage, traitement de l'humidité et déperdition thermique</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Conseils sur l’ensemble des travaux à prévoir</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Remise du rapport technique </li>
          </ul>
        </div>
        <div class="box box-bottom-right">
          <div class="layer">
            <h3>À partir de 4 €/m2</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact code -->

<div id= "contact" class="container big-padded">
  <div class="row">
    <div class="col-xs-12">
      <div class="title text-center small-padded">
        <h2>Contact</h2>
        <div class="line text-center"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div id="map" style="width: 100%; height: 300px;"></div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="contact">
          <h5>Vous avez des questions ? Nous serions ravis d'y répondre</strong></h5>
          <p><i class="fa fa-phone" aria-hidden="true"></i>Matthieu Le Lanchon : 06 95 53 91 68</p>
          <p><i class="fa fa-phone" aria-hidden="true"></i>Jean Pierre Thibeaut : 07 69 98 12 19</p>
          <p><i class="fa fa-envelope" aria-hidden="true"></i> <%= mail_to "mh2i@h2i-homeinspect.com", "mh2i@h2i-homeinspect.com", class: "email" %>
          <p> <i class="fa fa-map-marker" aria-hidden="true"></i> 3 rue de Verdun, Cannes 06400</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Map code -->

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyADxfHHP2Kqg2kJNxXRGIaCq30JMyIIKRI"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(43.558432, 7.020287);


var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles:[{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "Nous sommes ici"
});
</script>
